# Configurações do Servidor
PORT=3000

# Configurações do Google BigQuery
GOOGLE_PROJECT_ID=seu-gcp-project-id
GOOGLE_CLIENT_EMAIL=seu-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
BIGQUERY_DATASET=calculadora_pme
BIGQUERY_TABLE=simulacoes
